<a href="https://colab.research.google.com/github/GauravSahani1417/Kaggle-Playground-Series-March-2021/blob/main/Playground_Series_March_2021_with_MLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv("/content/drive/MyDrive/March 2021 Playground series/train_New.csv")
df_test = pd.read_csv("/content/drive/MyDrive/March 2021 Playground series/test.csv")

In [4]:
df_train.drop("id", axis=1, inplace=True)
df_test.drop("id", axis=1, inplace=True)

In [5]:
df_train.drop("cont1", axis=1, inplace=True)
df_test.drop("cont1", axis=1, inplace=True)

df_train.drop("cont10", axis=1, inplace=True)
df_test.drop("cont10", axis=1, inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
for c in df_train.columns: 
    if df_train[c].dtype=='object':
        LE = LabelEncoder()
        LE.fit(list(df_train[c].values) + list(df_train[c].values))
        df_train[c] = LE.transform(df_train[c].values)
        
df_train.head()

   cat0  cat1  cat2  cat3  cat4  ...     cont6     cont7     cont8     cont9  target
0     0     8     0     1     1  ...  0.592184  0.791921  0.815254  0.965006       0
1     0     8     0     0     4  ...  0.600044  0.408701  0.399353  0.927406       0
2     0    10     0     0     4  ...  0.352113  0.388835  0.412303  0.292696       0
3     0    10     0     2     4  ...  0.221789  0.897617  0.633669  0.760318       0
4     0     8     6     1     4  ...  0.578764  0.279167  0.351103  0.357084       1

[5 rows x 29 columns]

In [8]:
for c in df_test.columns: 
    if df_test[c].dtype=='object':
        LE = LabelEncoder()
        LE.fit(list(df_test[c].values) + list(df_test[c].values))
        df_test[c] = LE.transform(df_test[c].values)
        
df_test.head()

   cat0  cat1  cat2  cat3  ...     cont6     cont7     cont8     cont9
0     0     5     0     0  ...  0.551249  0.655693  0.598331  0.359987
1     0     7     2     0  ...  0.248987  0.654614  0.347944  0.565520
2     0    13     2     0  ...  0.746740  0.335590  0.341238  0.252289
3     1    11     2     0  ...  0.538724  0.381566  0.481660  0.348514
4     0     5     0     1  ...  0.178920  0.763479  0.562491  0.466261

[5 rows x 28 columns]

In [9]:
X = df_train.drop(['target'],1)
y = df_train['target']

In [11]:
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)
X_train.shape, X_test.shape

((303560, 28), (75890, 28))

In [13]:
from sklearn.metrics import recall_score
from sklearn.neural_network import MLPClassifier

In [14]:
MLP = MLPClassifier(max_iter=100)

In [20]:
MLPC = MLPClassifier(hidden_layer_sizes=(200,), max_iter=1000)
MLPC.fit(X_train, y_train)
y_pred = MLPC.predict(X_test)
# Obtenemos valores de recall
recall_acc = recall_score (y_test,y_pred)
recall_acc

0.7521163855270584

In [22]:
predict = MLPC.predict(df_test)

In [26]:
predict.shape

(200000,)

In [23]:
df_sample = pd.read_csv('/content/drive/MyDrive/March 2021 Playground series/sample_submission.csv')

In [27]:
df_sample.shape

(200000, 2)

In [28]:
sub = df_sample.copy()
sub["target"] = predict

sub.to_csv("/content/drive/MyDrive/March 2021 Playground series/Submission_2.csv", index=False)

sub.head(10)

   id  target
0   5       0
1   6       1
2   8       0
3   9       0
4  11       0
5  15       1
6  16       0
7  17       0
8  21       0
9  24       0